/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Facilita o uso de rem (1rem = 10px) */
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-body);
    font-size: 1.6rem;
    font-weight: 400;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}