/* Responsive */
@media (max-width: 768px) {
    body {
        background-image: url('../images/bg-mobile.svg');
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .logo {
        width: 40%;
        left: 8vw;
        top: 20%;
    }
    .panel {
        flex-direction: column;
        align-items: center;
    }
    .panel-image {
        width: 80vw;
        padding: 0;
    }
    .panel h1 {
        font-size: 2.6rem;
        padding: 0;
        line-height: 1.2;
    }
    .panel-info {
        width: 80vw;
        align-items: center;
        text-align: center;
        padding: 1.5rem ;
        gap: 2.5rem;
    }
    .panel-info p {
        font-size: 1.6rem;
        line-height: 1.5;
    }
    .social-icons {
        justify-content: center;
        right: 0;
        font-size: 1.9rem;
    }
    .icon-bg{
        outline-offset: 3px;
    }
    .button {
        padding: 1.5rem 20vw;
    }

}
