/* Global Styles */
body {
    background-image: url('../images/bg-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-color: var(--Violet-bkg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg-mb{
    display: none;
}

/* Header */
header {
    height: 15vh;
}
.logo {
    width: 12vw;
    position: relative;
    left: 9vw;
    top: 4vh;
}

/* Panel */
.panel {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    gap: 2vw;
    max-height: 70%;
}
.panel-image{
    width: 50vw;
}
.panel-info {
    width: 460px;
    font-size: 1.6rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 10%;
    padding: 9vh 0;
}
.panel-info h1 {
    font-family: var(--font-family-headings);
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.2;
    max-width: 385px;
}
/* Button */
.button {
    padding: 1rem 4rem;
    background-color: var(--text-color);
    max-width: max-content;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: var(--Violet-bkg);
    font-weight: 500;
    text-decoration: none;
}
.button:hover{
    cursor: pointer;
    background-color: var(--Soft-Magenta);
    color: #fff;
    transition: 0.3s;
}

/* Footer */
.social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 1.6rem;
    position: relative;
    right: 7vw;
    min-height: 15vh;
}
.icon-bg {
    font-size: 1.7rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    outline: 2px solid var(--text-color);
    outline-offset: 1px;
}
.icon-bg:hover{
    color: var(--Soft-Magenta);
    outline: 3px solid var(--Soft-Magenta);
}

