/* Variables CSS */
:root {
    /* Cores */
    --Violet-bkg: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --text-color: #fff;

    /* Tipografia */
    --font-family-headings: 'Poppins', sans-serif;
    --font-family-body: 'Open Sans', sans-serif;
}
